/* Custom  */
.document-container .rl-tree-preview,
.journal-container .rl-tree-preview {
	
	background: #f5f5f5 ;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: right;
    height: auto;
    width: 40%;
    padding: 20px;
    text-align:center;
    position: relative;
}

.treePreviewImg {
	max-height: 300px;
}

.rl-tree-preview .icon-plus, .rl-tree-preview .icon-minus{
	padding: 7px;
}
@media (max-width: 767px) {
    .rl-tree-preview {
        display: none;
    }
}

#rl-tree-container {
    float: left;
    padding-bottom: 1.5rem;
    width: 60%;
}



/* hide toolbars that does not belong to tree feature */
.treeview-toolbar .management-bar > div ul:nth-child(1),
.treeview-toolbar .management-bar > div .navbar-form {
    visibility: hidden;    
}

.tree-view {
    .tree-node-content .tree-hitarea {
        font-size: 20px;
    }
    .tree-node-leaf {
        margin-left: 20px;
    }
}

.has-tree-view .pagination-bar {
    display: none;
}

.tree-drag-helper-content {
    margin: 0 0 0 60px;
}