/* Custom  */
.document-container .rl-tree-preview,
.journal-container .rl-tree-preview {
    float: right;
    width: 40%;
    text-align:center;
    padding: 0 20px;
    position: relative;
    .sheet {
        min-height: 200px;
        padding-bottom: 1.5rem;
    }
}

.treePreviewImg {
	max-height: 300px;
}

.rl-tree-preview .icon-plus, .rl-tree-preview .icon-minus{
	padding: 7px;
}
@media (max-width: 767px) {
    .rl-tree-preview {
        display: none;
    }
}

#rl-tree-container {
    float: left;
    padding-bottom: 1.5rem;
    width: 60%;
}



/* hide toolbars that does not belong to tree feature */
.treeview-toolbar .management-bar > div ul:nth-child(1),
.treeview-toolbar .management-bar > div .navbar-form {
    visibility: hidden;    
}

.tree-view {
    .tree-node-content .tree-hitarea {
        font-size: 20px;
    }
    .tree-node-leaf {
        margin-left: 20px;
    }
    .glyphicon {
        color: #6B6C7E;
    }
}

.has-tree-view .pagination-bar {
    display: none;
}

.tree-drag-helper {
    left: -1000px; // hide it if no position is provided, there is an issue related to liferay alloy ui version compared to latest version
}

.tree-drag-helper-content {
    margin: 0 0 0 60px;
}

.tree-node-content .tree-label {
    margin-left: 6px;
}

.has-tree-view {
    .tree-node-content .tree-label {
        font-size: 14px;
    }
}